  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
<script>

// current coin
var currentCoinMap, marker, allMarkers = [], flightPath, flightPlanCoords = [], currentEntries = [];
// all coins
var allCoinsMap, allCoinsMarkers = [];

function initMaps() {
  var latlng = new google.maps.LatLng(37.09024, -95.712891);
  currentCoinMap = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 3,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  allCoinsMap = new google.maps.Map(document.getElementById('allcoins-map-canvas'), {
    zoom: 3,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  mapAllCoins();
}
function update_geo(coin_entries) {
  coin_entries.forEach(function(coin_entry) {
    var coords = {lat: coin_entry.lat, lng: coin_entry.lng};
    flightPlanCoords.push(coords);
    createMarker(coin_entry, coords, currentCoinMap, coin_entry.city, allMarkers, true)
  });
  updateFlightPath();
}

function update_allcoins_geo(coin_entries) {
  coin_entries.forEach(function(coin_entry) {
    var coords = {lat: coin_entry.lat, lng: coin_entry.lng};
    marker = createMarker(coin_entry, coords, allCoinsMap, coin_entry.city, allCoinsMarkers, false)
    marker.setMap(allCoinsMap);
  });
}

function markerSelected(marker) {

  allMarkers.forEach(function(m) {
    m.setAnimation(null);
  });
  marker.setAnimation(google.maps.Animation.BOUNCE);

  $('.cityname').css('color', 'black');
  var classname = getEntryClassname(marker.coin_entry);
  $('.' + classname).css('color', 'blue');
}

function createMarker(coin_entry, coords, map, label, markers, addListener){
  marker = new google.maps.Marker({
    position: coords,
    map: map,
    label: label
  });
  marker.coords = coords;
  marker.coin_entry = coin_entry
  markers.push(marker);

  if(addListener) {
    marker.addListener('click', function() {
      markerSelected(this);
    });
  }
  return marker;
}

// Removes the markers from the map, but keeps them in the array.
function clearMarkers(markers, map) {
  markers.forEach(function(m) {
    m.setMap(null);
  });
  flightPlanCoords = [];
}

// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  clearMarkers(allMarkers, currentCoinMap);
  allMarkers = [];
}
function findMatchingMarkersByClassname(classname, markers) {
  var match = markers.filter(function (entry) 
    { 
      return classname === getEntryClassname(entry.coin_entry); 
    }
  );
  return match;
}
function findMatchingMarker(currentEntry, markers) {
  var match = markers.filter(function (entry) 
    { 
      var ce1 = entry.coin_entry;
      var ce2 = currentEntry;
      if(ce1.city && ce1.state) {
        var c1 = ce1.city.toUpperCase();
        var c2 = ce2.city.toUpperCase();
        var s1 = ce1.state.toUpperCase();
        var s2 = ce2.state.toUpperCase();
        return c1 === c2 && s1 === s2; 
      }
      else
        return false;
    }
  );
  if(match.length > 0)
    return match[0];
  else
    return null;
}
function getEntryClassname(entry) {
  var classname = entry.city
  if(classname && classname.length > 0 && entry.state.length > 0)
    classname += '_' + entry.state;
  if(classname)
    return classname.replace(' ', '_').toUpperCase();
  else
    return null;
}
function highlightMarker(classname) {
  allMarkers.forEach(function(m) {
    m.setAnimation(null);
  });
  var markers = findMatchingMarkersByClassname(classname, allMarkers);
  if(markers.length > 0)
    markerSelected(markers[0])
}
function update_entries(data) {

  currentEntries = data;
  clearMarkers(allMarkers, currentCoinMap);
  if(flightPath)
    flightPath.setMap(null);

  var table = $('<table></table>');
  var citiesToRetrieve = [];
  for(i=0; i<currentEntries.length; i++){
      var currentEntry = currentEntries[i];

      var location = currentEntry.city;
      if(location.length > 0 && currentEntry.state.length > 0)
        location += ', ' + currentEntry.state;

      var classname = getEntryClassname(currentEntry);

      table.append( '<tr ' +
        'onclick="highlightMarker(\'' + 
        classname + 
        '\')" class="cityname ' + 
        classname + 
        '"><td align="right">' + 
        location +
        ':</td><td>' + 
        $.format.date(currentEntry.created_at, "MM/dd/yyyy") +
        '</td></tr>' );

      var currentMarker = findMatchingMarker(currentEntry, allMarkers);
      if(currentMarker === null)
      {
        var cityToRetrieve = citiesToRetrieve.filter(function (entry) 
          { return entry.city === currentEntry.city && entry.state === currentEntry.state; });
        if(cityToRetrieve.length == 0)
          citiesToRetrieve.push(currentEntry);
      }
      else
      {
        flightPlanCoords.push(currentMarker.coords);
      }

  }
  $('#coin_entries').html(table);

  if(citiesToRetrieve.length > 0)
    $.ajax({
      type: "POST",
      url: "coin_entries/location_update",
      data: { "cities": citiesToRetrieve },
      success: update_geo
    });
  else
    updateFlightPath();

};

function update_allcoins_entries(data) {

  currentAllCoinsEntries = data;
  clearMarkers(allCoinsMarkers, allCoinsMap);

  var citiesToRetrieve = [];
  for(i=0; i<currentAllCoinsEntries.length; i++){
      var currentEntry = currentAllCoinsEntries[i];
      var currentMarker = findMatchingMarker(currentEntry, allCoinsMarkers);
      if(currentMarker === null)
      {
        var cityToRetrieve = citiesToRetrieve.filter(function (entry) 
          { return entry.city === currentEntry.city && entry.state === currentEntry.state; });
        if(cityToRetrieve.length == 0)
          citiesToRetrieve.push(currentEntry);
      }

  }

  if(citiesToRetrieve.length > 0)
    $.ajax({
      type: "POST",
      url: "coin_entries/location_update",
      data: { "cities": citiesToRetrieve },
      success: update_allcoins_geo
    });
  else
    updateFlightPath();

};

function updateFlightPath() {
  flightPath = new google.maps.Polyline({
    path: flightPlanCoords,
    geodesic: false,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(currentCoinMap);
    
  var index = 1;
  allMarkers.forEach(function(m) {
    m.label = '';
  });
  currentEntries.forEach(function(entry) {
    var marker = findMatchingMarker(entry, allMarkers)
    if(marker) {
      if(marker.label === '')
        marker.label = index.toString();
      marker.setMap(currentCoinMap);
      index++;
    }
  });

}

function refreshCities()
{
  $("[name='coin_entry[city]']").val('');
  $("[name='coin_entry[state]']").val('');
  $("[name='coin_entry[description]']").val('');
  $("[name='coin_entry[created_at]']").val('');
  mapCurrentCoin();
  return true;
}

$(document).ready(function () {
  $(".edit_fields :input").attr("disabled", true);
  $("#coin_entry_serial_number").change(refreshCities);
  refreshCities();
  $( "#created_at_picker" ).datepicker({ dateFormat: 'mm-dd-yy' });

});

function mapCurrentCoin() {
  $("#validation-errors-serial-number").hide();
  var entry = $( "input[id=coin_entry_serial_number]" )[0].value;
  if(entry) {
    var entryInt = parseInt(entry);
    if(entry.length === 3 && entryInt > 0 && entryInt <= 250) {
      $(".edit_fields :input").attr("disabled", false);
      $.ajax({
        type: "GET",
        url: "coin_entries/find_by_serial_number/" + entry,
        success: update_entries
      });
    }
    else {
      $(".edit_fields :input").attr("disabled", true);
      $("#validation-errors-serial-number").show();
      $("#validation-errors-serial-number").text("Invalid Value");
    }
  }
}
function mapAllCoins() {
  $.ajax({
    type: "GET",
    url: "find_last_city_for_each",
    success: update_allcoins_entries
  });
}

$(document).on("submit", "form", function (e) {
    $("#validation-errors").hide();
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        type: "POST",
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json){
      refreshCities();
    }).error(function(json) {
      $("#validation-errors").show();
      $("#validation-errors").text(" - " + json.responseJSON.city[0]);
    });
    return false; // prevents normal behaviour
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwDgeRGT4ZgucWWQSnlyOIo-Kbyy3gSC0&callback=initMaps"
    async defer></script>

<h1>Got a Rock</h1>

    <div id="allcoins-map-container" class="big_map allcoins_section_box">
      <div style="margin: -4px 0px 8px 0px">
      Where the Rocks Currently Are:
      </div>
      <div id="allcoins-map-canvas"></div>
    </div>
      <div style="clear: both;"></div>

<h1>Log Your Rock to Continue the Ripple Effect</h1> 

      <%= form_for(@coin_entry, :html => { :style => 'width: 100%; margin: 0px; float:left;' }) do |f| %>
      
    <div class="left_box">
      <div class="serial_number_container field">
        <%= label(:coins, "Enter Serial Number") %><br>
        <%= f.text_field :serial_number, :id => "coin_entry_serial_number" %>
        <span class="field" id="validation-errors-serial-number" style="display:none; color: red"></span>
      </div>
      <div style="clear: both;"></div>
      <div class="cities">
        <div style="margin: -4px 0px 8px 0px">
        Where the Rocks Have Been:
        </div>
        <div id="coin_entries">
        </div>
      </div>
    </div>

    <div class="edit_fields section_box">            
      <div class="field" id="city">
        <%= f.label :city %><span class="field" id="validation-errors" style="display:none; color: red"></span><br>
        <%= f.text_field :city, class: 'location_update edit_field', :required => true%>
      </div>
      <div class="field">
        <%= f.label :state %><br>
        <%= f.text_field :state, class: 'location_update edit_field', :required => true%>
      </div>
      <div class="field">
        <%= f.label :country %><br>
        <%= f.text_field :country, class: 'edit_field' %>
      </div>
      <div class="field">
        <%= f.label(:created_at, "Date") %><br>
        <%= f.text_field :created_at, id: 'created_at_picker', class: 'edit_field' %>
      </div>
      <div class="field">
        <%= f.label(:description, "How'd You Get Your Rock? (optional)") %><br>
        <%= f.text_area :description, rows: "6", class: 'edit_field'  %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>

    <div id="map-container" class="small_map section_box">
      <div id="map-canvas"></div>
    </div>

    <% end %>

  </div>