  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
<script>

var map;

function initMap() {
  var latlng = new google.maps.LatLng(37.09024, -95.712891);
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 3,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
}
function update_geo(coin_entries) {
  // console.log(data)
  // $(".geo_location")[0].innerText = data.lat + ", " + data.lng

  coin_entries.forEach(function(coin_entry) {
    var coords = {lat: coin_entry.lat, lng: coin_entry.lng};
    createMarker(coin_entry, coords, map, coin_entry.city)
  });
}
var marker;
var markers = [];
function createMarker(coin_entry, coords, map, label){
  marker = new google.maps.Marker({
    position: coords,
    map: map,
    label: label
  });
  marker.coords = coords;
  marker.coin_entry = coin_entry
  markers.push(marker);
}

// Sets the map on all markers in the array.
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

// Removes the markers from the map, but keeps them in the array.
function clearMarkers() {
  setMapOnAll(null);
}

// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  clearMarkers();
  markers = [];
}

var flightPath;
function update_entries(data) {
  clearMarkers();
  if(flightPath)
    flightPath.setMap(null);
  var table = $('<table></table>');
  var citiesToRetrieve = [];
  var flightPlanCoords = [];
  for(i=0; i<data.length; i++){

      var location = data[i].city;
      if(location.length > 0 && data[i].region.length > 0)
        location += ', ' + data[i].region;

      switch(currentMap) {
        case "mapCurrentCoin":
          table.append( '<tr><td align="right">' + 
            location +
            ':</td><td>' + 
            $.format.date(data[i].created_at, "MM/dd/yyyy") +
            '</td></tr>' );
          break;
        case "mapAllCoins":
          table.append( '<tr><td align="right">' + 
            data[i].serial_number +
            ':</td><td>' + 
            $.format.date(data[i].created_at, "MM/dd/yyyy") +
            '</td></tr>' );
          table.append( '<tr><td align="right"></td><td>' + 
            location +
            '</td></tr>' );
          break;
      }
      var match = markers.filter(function (entry) 
        { return entry.coin_entry.city === data[i].city && entry.coin_entry.state === data[i].region; });
      if(match.length == 0)
      {
        var cityToRetrieve = citiesToRetrieve.filter(function (entry) 
          { return entry.city === data[i].city && entry.region === data[i].region; });
        if(cityToRetrieve.length == 0)
          citiesToRetrieve.push(data[i]);
      }
      else
      {
        match[0].setMap(map);
        flightPlanCoords.push(match[0].coords);
      }

  }
  $('#coin_entries').html(table);

  if(currentMap === 'mapCurrentCoin')
  {
    flightPath = new google.maps.Polyline({
      path: flightPlanCoords,
      geodesic: false,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    flightPath.setMap(map);
  }

  if(citiesToRetrieve.length > 0)
    $.ajax({
      type: "POST",
      url: "coin_entries/location_update",
      data: { "cities": citiesToRetrieve },
      success: update_geo
    });

};

var currentMap = "mapAllCoins";
function refreshCities()
{
  $("[name='coin_entry[city]']").val('');
  $("[name='coin_entry[region]']").val('');
  window[currentMap]();
  return true;
}

$(document).ready(function () {
  $("#coin_entry_serial_number").bind('change', refreshCities);
  refreshCities();
  $( "#created_at_picker" ).datepicker();

  $("input[name$='mapSelection']").click(function() {
      currentMap = $(this).val();
      window[currentMap]();
  });
});

function mapCurrentCoin() {
  $.ajax({
    type: "GET",
    url: "coin_entries/find_by_serial_number/" + $( "select[id=coin_entry_serial_number] option:selected" ).text(),
    success: update_entries
  });
}
function mapAllCoins() {
  $.ajax({
    type: "GET",
    url: "find_last_city_for_each",
    success: update_entries
  });
}

$(document).on("submit", "form", function (e) {
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        type: "POST",
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json){
      refreshCities();
    });
    return false; // prevents normal behaviour
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwDgeRGT4ZgucWWQSnlyOIo-Kbyy3gSC0&callback=initMap"
    async defer></script>

<h1>Select Coin</h1>

      <%= form_for(@coin_entry) do |f| %>
    <div class="field">
      <%= label(:coins, "Select Coin") %><br>
      <%= collection_select(:coin_entry, :serial_number, Coin.all, :serial_number, :serial_number) %>
    </div>

    <div>
    <div class="edit_fields section_box">    

        <% if @coin_entry.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@coin_entry.errors.count, "error") %> prohibited this coin_entry from being saved:</h2>

            <ul>
            <% @coin_entry.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :city %><br>
          <%= f.text_field :city, class: 'location_update'%>
        </div>
        <div class="field">
          <%= f.label :region %><br>
          <%= f.text_field :region, class: 'location_update'%>
        </div>
        <div class="field">
          <%= f.label :country %><br>
          <%= f.text_field :country %>
        </div>
        <div class="field">
          <%= f.label :created_at %><br>
          <%= f.text_field :created_at, id: 'created_at_picker' %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    <% end %>

    <div id="coin_entries" class="cities section_box">
    </div>

    <div style="clear: both;"></div>

    <div id="mapSelection">
      <label><input type="radio" name="mapSelection" value="mapCurrentCoin">Current Coin</label>
      <label><input type="radio" name="mapSelection" value="mapAllCoins" checked="checked">All Coins</label>
    </div>

    <div id="map-container" class="map section_box">
      <div id="map-canvas"></div>
    </div>


      <div style="clear: both;"></div>
  </div>