<script>

function update_entries(data) {
  var table = $('<table></table>');
  for(i=0; i<data.length; i++){
      var row = $('<tr></tr>').text(data[i].city);
      table.append(row);
  }

  $('#coin_entries').html(table);
};

$(document).ready(function () {
$("#coin_entry_serial_number").bind('change', function()
  {
    $.ajax({
      type: "GET",
      url: "coin_entries/find_by_serial_number/" + $( "select[id=coin_entry_serial_number] option:selected" ).text(),
      success: update_entries
    });
  return true;
  });
});

</script>

<h1>Select Coin</h1>

      <%= form_for(@coin_entry) do |f| %>
    <div class="field">
      <%= label(:coins, "Select Coin") %><br>
      <%= collection_select(:coin_entry, :serial_number, Coin.all, :serial_number, :serial_number) %>
    </div>

    <div class="add_new">    

        <% if @coin_entry.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@coin_entry.errors.count, "error") %> prohibited this coin_entry from being saved:</h2>

            <ul>
            <% @coin_entry.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :city %><br>
          <%= f.text_field :city, class: 'location_update'%>
        </div>
        <div class="field">
          <%= f.label :region %><br>
          <%= f.text_field :region, class: 'location_update'%>
        </div>
        <div class="field">
          <%= f.label :country %><br>
          <%= f.text_field :country %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
  </div>
    <% end %>

    <div id="coin_entries">
    </div>