<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @coin_entry.city %>
</p>

<p>
  <strong>state:</strong>
  <%= @coin_entry.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @coin_entry.country %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @coin_entry.serial_number %>
</p>

<%= link_to 'Edit', edit_coin_entry_path(@coin_entry) %> |
<%= link_to 'Back', coin_entries_path %>
